@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Progress Bar */
#nprogress .bar {
    background: linear-gradient(
        to right,
        rgb(239, 68, 68),
        rgb(220, 38, 38)
    ) !important; /* Perbaikan syntax linear-gradient */
    height: 4px !important; /* Sesuaikan tinggi jika diperlukan */
}

#nprogress .peg {
    box-shadow: 0 0 10px rgb(239, 68, 68), 0 0 5px rgb(220, 38, 38) !important; /* Efek bayangan yang sesuai */
}

#nprogress .spinner-icon {
    border-top-color: rgb(
        239,
        68,
        68
    ) !important; /* Warna spinner bagian atas */
    border-left-color: rgb(
        239,
        68,
        68
    ) !important; /* Warna spinner bagian kiri */
}

/*  */

#tiptap h1,
#tiptap h2,
#tiptap h3 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#tiptap h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#tiptap h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

#tiptap h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#tiptap p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#tiptap ul,
#tiptap ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#tiptap ul {
    list-style-type: disc;
}

#tiptap ol {
    list-style-type: decimal;
}
